@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
*/

body {
  box-sizing: border-box;
  color: rgb(var(--foreground-rgb));
  /* background: rgb(247, 230, 216);
  background: linear-gradient(
    180deg,
    rgba(247, 230, 216, 0.34079569327731096) 0%,
    rgba(255, 255, 255, 1) 100%
  ); */
}

.ball {
  animation: rebota 0.5s alternate infinite ease-out;
}

@keyframes rebota {
  0% {
    height: 0px;
  }

  100% {
    transform: translateY(0px);
    height: 44px;
  }
}

.match {
  max-width: 210px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.bracket_match:nth-of-type(odd) {
  margin-top: 40px;
  margin-bottom: 12px;
}

.bracket_match:nth-of-type(2n) {
  margin-top: 12px;
  margin-bottom: 40px;
}
.custom-r {
  width: 210px;
}

.custom-r::before {
  content: "";
  color: #f48633;
  position: absolute;
  border-top: 2px solid;
  left: -12px;
  width: 12px;
  top: 50%;
}

.custom-r::after {
  content: "";
  position: absolute;
  border-right: 2px solid #f48633;
  left: -24px;
  width: 12px;
  height: 64px;
  top: 50%;
}

.custom-r:nth-of-type(2n)::after {
  height: 64px;
  top: -30px;
  bottom: 50%;
}

.custom {
  width: 210px;
  margin-right: 24px;
}

.custom::before {
  content: "";
  color: #f48633;
  position: absolute;
  border-top: 2px solid;
  right: -12px;
  width: 12px;
  top: 50%;
}

.custom::after {
  content: "";
  position: absolute;
  border-right: 2px solid #f48633;
  right: -12px;
  width: 12px;
  height: 64px;
  top: 50%;
}

.custom:nth-of-type(2n)::after {
  height: 64px;
  top: -30px;
  bottom: 50%;
}

.bracket_quarter::before {
  left: 100%;
  width: 12px;
  z-index: 10;
}

.bracket_quarter::after {
  left: 100%;
  height: 118px;
}

.bracket_quarter:nth-of-type(2n)::after {
  height: 118px;
  bottom: 50%;
  top: -86px;
}

.bracket_quarter-r::before {
  right: 100%;
  width: 12px;
  z-index: 10;
}

.bracket_quarter-r::after {
  right: 100%;
  height: 120px;
}

.bracket_quarter-r:nth-of-type(2n)::after {
  height: 120px;
  bottom: 50%;
  top: -86px;
}

.bracket_r::before {
  right: 100%;
  /* left: 0;
  width: 0px; */
}

.bracket_semifinal {
  max-width: 120px;
}

.bracket_final::before {
  content: "";
  border: 2px solid #f48633;
  border-top: 2px;
  position: absolute;
  height: 30px;
  top: -66%;
  width: 250px;
  left: 50%;
  transform: translate(-50%);
}

.bracket_final::after {
  content: "";
  border-width: 1px;
  border-color: #f48633;
  position: absolute;
  display: block;
  left: 50%;
  height: 18px;
  bottom: 100%;
}

.bracket_thirdPlacePlayOff::before {
  content: "";
  border-width: 1px;
  border-color: #f48633;
  position: absolute;
  display: block;
  left: 50%;
  height: 24px;
  top: 101%;
}

.bracket_thirdPlacePlayOff::after {
  content: "";
  color: #f48633;
  border: 2px solid;
  border-bottom: none;
  position: absolute;
  height: 30px;
  top: 138%;
  width: 250px;
  left: 50%;
  transform: translate(-50%);
}

.underline-title {
  display: inline-block;
  border-bottom: 2px solid #f48633;
}

.underline-title::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 0;
  left: 0;
  margin-top: 1px;
  border-bottom: 1px solid #ccc;
  z-index: -1;
}
